html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3cb51;
}

.logo{
    width: 75px;
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(#2666C0, #B5C7E3);
}

nav a{
    text-decoration: none;
    color: black
}

nav a:hover{
    color: #d4d4d4;
}


.nav-items{
    list-style-type: none;
}

.nav-items li{
    display: inline;
    margin-right: 20px;
}

header{
    text-align: center; 
    padding-top: 20px;  
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img{
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
}

.ourprofile{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.ourprofile h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

#Kunugigaoka{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
}

.circle{
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
    border-radius: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    position: relative;
}

#activities{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
}

#activities h2,p{
  text-align: center;
  margin-bottom: 15px;
}

.activities-img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    padding: auto;
    position: relative;
}

.message{
    padding: 20px;
    text-align: center;
  }
  
form{
    display: flex;
    flex-direction: column; 
    max-width: 300px;
    width: 50%;
    margin-right: 190px;
  }
  
#output{
    width: 45%;
    height: 240px;
    border-radius: 30px;
    background-color: aliceblue;
    flex-direction: column; 
    padding: auto;
  }

#output p{
    text-align: left;
}
  
button{
    align-self: flex-start;
    cursor: pointer;
  }
   
   @media only screen and (max-width: 600px) {
     nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:0px;
   }
   
   .nav-items{
     list-style-type: none;
   }
   
   .nav-items li{
     font-size: 10px;
     display: inline;
     margin-right: 15px;
   }
   
   nav img {
     margin-left: 10px;
     max-width: 100%;
     height: 35px;
   }
   
   header h1 {
     text-align: center;
    }
   
   header h4{
     text-align: center;
     font-size: 12px;
   }
   
   header img{
     width: 100%;
     height: 150px;
   }

   .activities-img{
    position: relative;
    width: 200px;
    height: 200px;
   }
}




